<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-section">
      <a class="navbar-brand" href="/people">
        People
      </a>
    </div>
    <div class="navbar-section">
      <a class="navbar-brand" href="/people/new">
        New Person Listing
      </a>
    </div>
    <div class="navbar-section">
      <a class="navbar-brand" href="/sports">
        Sports
      </a>
    </div>
    <div class="navbar-section">
      <a class="navbar-brand" href="/sports/new">
        New Sport
      </a>
    </div>
  </div>
</nav>
