<form style="width:20%;margin:auto" action="/sports/<%= @sport.id %>" method="POST">
  <div class="form-group">
    <label for="form-group">Sport Name</label>
    <input style="text-align:center" type="text" class="form-control" placeholder="Sport Name" name="sport_name" value="<%= @sport.sport_name %>">
  </div>
  <div class="form-group">
    <label for="yearCreated">Invented</label>
    <input style="text-align:center" type="text" class="form-control" placeholder="Invented" name="invented" value="<%= @sport.invented %>">
  </div>
  <div class="form-group">
    <label for="color">Team Size</label>
    <input style="text-align:center" type="text" class="form-control" placeholder="Team Size" name="team_size" value="<%= @sport.team_size %>">
  </div>

  <button type="submit" class="btn btn-default">Submit Your Change!</button>

  <% if (@sport.id != '') %>
    <input type="hidden" name="_method" value="PUT">
  <% end %>
</form>
