$color1: rgb(245, 250, 30);
$color2: rgb(145, 10, 130);
$color3: rgb(50, 150, 200);
$color4: rgb(250, 0, 100);
$color5: rgb(50, 50, 100);

body {
  background-color: skyblue;
  text-align: center;

  h1, h2, h3, h4 {
    padding: 10px;
  }
  a {
    padding-bottom: 20px;
  }
}

#id {
  text-decoration: underline;
  font-weight: bold;
}
